<div class="custom-navbar">
    <div class="navbar-left">
        <a href="/" class="navbar-brand">
            <i class="fa-solid fa-shop" style="color: #005BFF;"></i>
            <span style="margin-left: 10px;">Online</span>
            <span style="color: #005BFF;">Shop</span>
            <span>App</span>
        </a>
    </div>
    <div class="navbar-center">
        <form class="search-form">
            <input type="text" placeholder="Поиск" />
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
    <div class="navbar-right">
        <NavLink href="/login">
            <button class="btn-nav btn-login">
                Войти
            </button>
        </NavLink>
        <NavLink href="/register">
            <button class="btn-nav btn-signin">
                Регистрация
            </button> 
        </NavLink>
    </div>
</div>